<html>
    <head>
        <title>{{title}}</title>
        <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    </head>
    <body>
            <h2>trade</h2>
            <div id="chart"></div>
            <div id="trades"></div>
                <form action="/buy" method="post">
                <input type="text" id="quantity" name="quantity" placeholder="eg. 0.001" />
                <select id="symbol" name="symbol">
                    {% for symbol in symbols %}
                        <option>{{ symbol['symbol'] }}</option>
                    {% endfor %}
                </select>
                <input type="submit" name="buy" value="buy" />
                </form>
            <!-- <script>
                var binanceSocket= new WebSocket("wss://stream.binance.com:9443/ws/btcusdt@trade");
                var tradeDiv = document.getElementById('trades');
                binanceSocket.onmessage=function (event){
                    console.log(event.data);
                }
                binanceSocket.close();

            </script> -->
            <script src="{{ url_for('static', filename='ccchart.js') }}"></script>
            <div id="settings">
                <input type="checkbox" /> RSI 
                <input type="text" id="rsi_length" name="rsi_length" placeholder="14" />
                Overbought
                <input type="text" id="rsi_overbought" name="rsi_overbought" placeholder="70" />
                Oversold
                <input type="text" id="rsi_oversold" name="rsi_oversold" placeholder="30" />
    
            </div>
            <div id="my_balances">
                <h2>Balances</h2>
                    <table>
                        {% for balance in my_balances %}
                        <tr>
                            <td>
                                {{ balance['asset'] }}
                            </td>
                            <td>
                                    {{ balance['free'] }}
                            </td>
                        </tr>
                        {% endfor  %}
                    </table>
                
            </div>

    </body>
</html>